.book-card {
  margin: 0;
  list-style-type: none;

  &-button {
    background-color: transparent;
    border: 0;
  }
}

.book-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px 8px;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 420px) {
    gap: 16px 0;
    justify-content: space-between;
  }

  &.nowrap {
    flex-wrap: nowrap;
    gap: 8px;

    @media screen and (max-width: 420px) {
      gap: 8px;
    }
  }
}
