.bookshelf-item {
  display: flex;
  align-items: flex-end;
  height: 176px;
  list-style-type: none;

  &-side {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    font: var(--Detail-Font-1);
    background-color: pink; // default
    border-radius: 4px;
    writing-mode: vertical-lr;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter 200ms ease-in;

    &:is(:hover, :active) {
      filter: brightness(90%);
    }
  }
}

.bookshelf-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  background-color: var(--Gray-Color-0);
  border: 2px solid var(--Gray-Color-2);
  border-radius: 2px;

  &-blank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 176px;
    border: 2px solid var(--Gray-Color-2);
    border-radius: 2px;
    font: var(--Body-Font-1);
    color: var(--Gray-Color-9);
  }
}
