.book-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px 0 0 0;

  &-item {
    display: flex;
    gap: 8px;
  }

  &-title {
    font: var(--Body-Font-2);
    color: var(--Gray-Color-8);
    white-space: nowrap;
  }

  &-detail {
    margin: 0;
    font: var(--Body-Font-1);
    color: var(--Gray-Color-8);
  }
}
