.library {
  &-message {
    font: var(--Font-Header-5);
    color: var(--Font-Color-Title);
  }

  &-loading {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
    align-items: center;
    justify-content: center;
    color: var(--Gray-Color-6);
  }
}
