.books {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  background-color: var(--Gray1);
  border: 2px solid var(--Gray4);
  border-radius: 2px;

  &-blank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 176px;
    border: 2px solid var(--Gray4);
    border-radius: 2px;
    font: var(--Font-Header-3);
    color: var(--Font-Color-Title);
  }
}
