.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 8px;
  margin: 20px 0 0 0;
  padding: 0;

  @media screen and (max-width: 400px) {
    gap: 16px 0;
    justify-content: space-between;
  }
}
