.book-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px 0 0 0;

  &-item {
    display: flex;
    // align-items: center;
    gap: 8px;
  }

  &-title {
    font: var(--Font-Body-Bold);
    color: var(--Font-Color-Primary);
    white-space: nowrap;
  }

  &-detail {
    margin: 0;
    font: var(--Font-Body-Regular);
    color: var(--Font-Color-Primary);
  }
}
