.-ribbon-badge {
  position: relative;
  display: inline-flex;
  padding: 2px 8px;
  color: var(--Gray1);
  font: var(--Font-Body-Regular);
  border-radius: 2px 2px 0 2px;

  &.default {
    background-color: var(--Primary-Color-6);
  }
  &.blue {
    background-color: var(--Daybreak6);
  }
  &.pink {
    background-color: var(--Magenta6);
  }
  &.red {
    background-color: var(--Red6);
  }
  &.orange {
    background-color: var(--Volcano6);
  }
  &.cyan {
    background-color: var(--Cyan6);
  }
  &.green {
    background-color: var(--Polar6);
  }
  &.purple {
    background-color: var(--Purple6);
  }

  &::after {
    position: absolute;
    top: 25px;
    right: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--Font-Color-Disabled);
    border-left: 4px solid var(--Font-Color-Disabled);
    border-right: 4px solid transparent;
  }
}
