.search {
  background-color: #fff;

  &-header {
    margin: 0 -20px 20px;
    display: flex;
    justify-content: flex-end;
  }

  &-recommended {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.hidden {
      display: none;
    }
  }

  &-book {
    margin-top: 20px;
  }
}
