.search {
  &-header {
    margin: 0 -20px 20px;
    display: flex;
    justify-content: flex-end;
  }

  &-recommended {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.hidden {
      display: none;
    }
  }

  &-book {
    margin-top: 20px;
  }

  &-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  }
}
