.search {
  &-header {
    margin: 0 -20px 20px;
    display: flex;
    justify-content: flex-end;
  }

  &-recommended {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.hidden {
      display: none;
    }
  }

  &-book {
    margin-top: 20px;
  }

  &-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  }

  &-no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-icon {
      path {
        fill: var(--Red5);
      }
    }

    &-message {
      color: var(--Font-Color-Primary);
      font: var(--Font-Header-5);
    }
  }
}
