.bookmark {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &-page {
    display: flex;
    align-items: center;
    gap: 4px;
    font: var(--Font-Body-Medium);
    color: var(--Primary-Color-7);

    & > svg path {
      fill: var(--Primary-Color-7);
    }

    .ui-textfield {
      width: 72px;
    }
  }

  &-text {
    margin: 0;
    font: var(--Font-Body-Micro);
    color: var(--Font-Color-Primary);
  }
}
