.book {
  display: flex;
  align-items: flex-end;
  height: 176px;
  list-style-type: none;

  &-side {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    font: var(--Font-Body-Micro);
    background-color: pink;
    border-radius: 2px;
    writing-mode: vertical-lr;
    white-space: nowrap;
    overflow: hidden;
  }
}
