.account {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-title {
    font: var(--Font-Body-Bold);
    color: var(--Font-Color-Primary);
  }

  &-detail {
    margin: 0;
    font: var(--Font-Body-Regular);
    color: var(--Font-Color-Primary);
  }

  &-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
  }

  &-etc-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
